.movie-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0.5% 1%;
    padding: 5%;
    

    .movie-card {
        background-color: $gray-background;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 400px;
        height: 600px;

        .movie-description {
            display: none;
            flex-direction: column;
            position: absolute;
            bottom: -100%;
            background: rgba(0,0,0,.8);
            color: $white;
            padding: 5%;

            .meta-data {
                margin-top: 5%;
            }
        }

    
        &:hover {
            cursor: pointer;
            transform: scale(1.05);
            transition-timing-function: ease-out;

            .movie-description {
                display: flex;
                bottom: 0;
            }

        }

    }

}